Node-Red Dashboard/AirSPEC.json
[{"id":"fa443f73.7a97e","type":"tab","label":"AirSPEC","disabled":false,"info":""},{"id":"586bb95a.8b69f8","type":"function","z":"fa443f73.7a97e","name":"PM25 chart","func":"global.set(\"PM25\",msg.payload.current.values[1].value)\nreturn{\n    payload:msg.payload.current.values[1].value\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":960,"wires":[["b1ba9ee7.a2814","df911572.111478","761408f1.2d76a8","1144cfa4.983a9"]]},{"id":"bccb8067.b8cdd","type":"ui_chart","z":"fa443f73.7a97e","name":"PM 25","group":"1bf1f3a7.65dbcc","order":5,"width":0,"height":0,"label":"PM 25","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1510,"y":1000,"wires":[[]]},{"id":"4b1e4d60.30ede4","type":"function","z":"fa443f73.7a97e","name":"PM25 limit percent chart","func":"global.set(\"PM25\",msg.payload.current.standards[0].percent)\nreturn{\n    payload:msg.payload.current.standards[0].percent\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":1000,"wires":[["b1ba9ee7.a2814"]]},{"id":"194f05de.1c172a","type":"function","z":"fa443f73.7a97e","name":"PM10 chart","func":"global.set(\"PM10\",msg.payload.current.values[2].value)\nreturn{\n    payload:msg.payload.current.values[2].value\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":1060,"wires":[["cd761f3e.8187","99faded5.bcd29","e2461514.6b9c08","fcf37e4.251468"]]},{"id":"cd761f3e.8187","type":"ui_chart","z":"fa443f73.7a97e","name":"PM 10","group":"1bf1f3a7.65dbcc","order":3,"width":0,"height":0,"label":"PM 10","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1290,"y":1060,"wires":[[]]},{"id":"15bf8d83.f83b02","type":"function","z":"fa443f73.7a97e","name":"PM10 limit percent chart","func":"global.set(\"PM10\",msg.payload.current.standards[0].percent)\nreturn{\n    payload:msg.payload.current.standards[1].percent\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":1120,"wires":[["cd761f3e.8187"]]},{"id":"1a5a3b86.0d3074","type":"function","z":"fa443f73.7a97e","name":"CAQI value chart","func":"global.set(\"CAQIvalue\",msg.payload.current.indexes[0].value)\nreturn{\n    payload:msg.payload.current.indexes[0].value\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1160,"wires":[["eb6e57f0.19c138","3bcab830.ecb3a8"]]},{"id":"936f20e.9d50fe","type":"function","z":"fa443f73.7a97e","name":"CAQI level chart","func":"global.set(\"CAQIlevel\",msg.payload.current.indexes[0].level)\nreturn{\n    payload:msg.payload.current.indexes[0].level\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":1220,"wires":[["eb6e57f0.19c138","95354a4e.a21808","f4ddf496.d09938"]]},{"id":"eb6e57f0.19c138","type":"ui_chart","z":"fa443f73.7a97e","name":"","group":"1bf1f3a7.65dbcc","order":7,"width":0,"height":0,"label":"CAQ Index","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1250,"y":1180,"wires":[[]]},{"id":"147eb8eb.768e67","type":"json","z":"fa443f73.7a97e","name":"covert to json","property":"payload","action":"","pretty":false,"x":1130,"y":2700,"wires":[["96de636c.58fc7"]]},{"id":"96de636c.58fc7","type":"function","z":"fa443f73.7a97e","name":"Add date","func":"msg.payload.date = new Date();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":2620,"wires":[["a1f88047.0e3ce"]]},{"id":"a1f88047.0e3ce","type":"function","z":"fa443f73.7a97e","name":"","func":"msg.queryParameters = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":2680,"wires":[["5d44fad5.66bf84"]]},{"id":"5d44fad5.66bf84","type":"postgres","z":"fa443f73.7a97e","postgresdb":"c4092586.97a398","name":"Db","output":true,"perrow":false,"rowspermsg":"1","return_on_error":false,"limit_queries":"0","limit_by":"payload","limit_value":"1","limit_drop_intermediate":false,"limit_drop_if_in_queue":false,"outputs":true,"x":1730,"y":2740,"wires":[["20d475b9.b00e4a"]]},{"id":"20d475b9.b00e4a","type":"csv","z":"fa443f73.7a97e","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"Date, PM2.5, PM10, CAQI value","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1010,"y":2800,"wires":[["efb3a724.567968","56826334.7529dc"]]},{"id":"efb3a724.567968","type":"file","z":"fa443f73.7a97e","name":"csv export","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1210,"y":2820,"wires":[[]]},{"id":"56826334.7529dc","type":"debug","z":"fa443f73.7a97e","name":"CSV read","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1240,"y":2900,"wires":[]},{"id":"b1ba9ee7.a2814","type":"ui_template","z":"fa443f73.7a97e","group":"1bf1f3a7.65dbcc","name":"Color","order":8,"width":0,"height":0,"format":"<style>\n    body.nr-dashboard-theme md-content md-card{\n        background-color: rgba(0,0,255,0.1) !important;\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":1350,"y":1020,"wires":[["bccb8067.b8cdd"]]},{"id":"c19be482.e65ba8","type":"function","z":"fa443f73.7a97e","name":"set data","func":"var now = new Date();\n\nmsg.payload = {\n    \"timestamp\": now.getTime(),\n    \"PM1\": msg.payload.current.values[0].value,\n    \"PM25\": msg.payload.current.values[1].value,\n    \"PM10\": msg.payload.current.values[2].value,\n    \"Pressure\": msg.payload.current.values[3].value,\n    \"Humidity\": msg.payload.current.values[4].value,\n    \"temperature\": msg.payload.current.values[5].value,\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":1280,"wires":[["6146542f.77c99c","fb211155.d7818"]]},{"id":"6146542f.77c99c","type":"function","z":"fa443f73.7a97e","name":"File name generator","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth()<9 ? \"0\"+ (now.getMonth()+1): (now.getMonth() +1);\nvar dd = now.getDate()< 10? \"0\"+ now.getDate(): now.getMonth();\nvar hh = now.getHours()< 10? \"0\"+ now.getHours(): now.getHours();\nvar min = now.getMinutes()< 10? \"0\"+ now.getMinutes(): now.getMinutes();\n\nmsg.fname = \"CurrentData_\"+yyyy+mm+dd+\"_\"+hh+\"h\"+min+\"min\"+\".csv\";\n\nmsg.filename = \"/Users/HP/datalog/\"+msg.fname;\n\nmsg.filecontent = msg.payload;\n\nmsg.payload = {\"pattern\": msg.fname}\n\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.fname});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":1300,"wires":[["9df54b1d.734698"]]},{"id":"9df54b1d.734698","type":"fs-file-lister","z":"fa443f73.7a97e","name":"Fie lister","start":"/Users/HP/datalog/","pattern":"*.*","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":520,"y":1420,"wires":[["5d9e291c.4f85a8"]]},{"id":"5d9e291c.4f85a8","type":"switch","z":"fa443f73.7a97e","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1540,"wires":[["7d45eda2.0b58f4"],["2433a1b0.e0ae8e"]]},{"id":"7d45eda2.0b58f4","type":"change","z":"fa443f73.7a97e","name":"get content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":1520,"wires":[["fb916dc3.4f373"]]},{"id":"2433a1b0.e0ae8e","type":"change","z":"fa443f73.7a97e","name":"get content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1580,"wires":[["ed389e95.50073"]]},{"id":"fb916dc3.4f373","type":"csv","z":"fa443f73.7a97e","name":"csv1","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"timestamp, PM1, PM25, PM10, Pressure, Humidity, Temperature","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":710,"y":1540,"wires":[["37f1ccef.0eae84"]]},{"id":"ed389e95.50073","type":"csv","z":"fa443f73.7a97e","name":"csv2","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp, PM1, PM25, PM10, Pressure, Humidity, Temperature","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":670,"y":1680,"wires":[["37f1ccef.0eae84"]]},{"id":"37f1ccef.0eae84","type":"file","z":"fa443f73.7a97e","name":"File","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":910,"y":1600,"wires":[[]]},{"id":"fb211155.d7818","type":"function","z":"fa443f73.7a97e","name":"Dataset generator","func":"msg.fname = \"Dataset.csv\";\n\nmsg.filename = \"/Users/HP/datalog/Dataset/\"+msg.fname;\n\nmsg.filecontent = msg.payload;\n\nmsg.payload = {\"pattern\": msg.fname}\n\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.fname});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":1400,"wires":[["dc858490.d2a0d8"]]},{"id":"dc858490.d2a0d8","type":"fs-file-lister","z":"fa443f73.7a97e","name":"","start":"/Users/HP/datalog/Dataset/","pattern":"*.*","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":220,"y":1620,"wires":[["6d940924.9da168"]]},{"id":"bf90f647.370228","type":"file","z":"fa443f73.7a97e","name":"File_dataset","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":480,"y":1740,"wires":[[]]},{"id":"6d940924.9da168","type":"change","z":"fa443f73.7a97e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":1660,"wires":[["60848861.7588c8"]]},{"id":"60848861.7588c8","type":"csv","z":"fa443f73.7a97e","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"timestamp, PM1, PM25, PM10, Pressure, Humidity, Temperature","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":270,"y":1740,"wires":[["bf90f647.370228"]]},{"id":"4fa73dd9.83cca4","type":"comment","z":"fa443f73.7a97e","name":"File Browser","info":"1) Update the default folder in the Init node\n2) Update the default folder in the Reset node as well\n3) You can duplicate the Reset nodes and use them as saved shortcuts\n4) Check the Convert Timestamps function node if you want to see your dates in a different format. I just used the Javascript toISOString format.\n5) The Graph button can read any CSV file which have any number of values, but the first column always contains a timestamp column with javascript timestamp of the data point.","x":310,"y":2900,"wires":[]},{"id":"993d7272.843ae","type":"fs-file-lister","z":"fa443f73.7a97e","name":"Files","start":"/home/pi","pattern":"*.*","folders":"*","hidden":false,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":590,"y":3240,"wires":[["dd88bd23.37cde","3e094f82.15d6e"]]},{"id":"d185a45.2327a58","type":"inject","z":"fa443f73.7a97e","name":"Init","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"change","payload":"/Users/HP/datalog/","payloadType":"str","x":190,"y":3200,"wires":[["3d4e5e51.bdf952"]]},{"id":"a715f7a4.a398a8","type":"ui_button","z":"fa443f73.7a97e","name":"","group":"160e81fb.f1c86e","order":1,"width":"2","height":"1","passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"refresh","payload":"","payloadType":"str","topic":"refresh","x":200,"y":3240,"wires":[["3d4e5e51.bdf952"]]},{"id":"eb17c7ee.e61988","type":"ui_dropdown","z":"fa443f73.7a97e","name":"File Selector","label":"","tooltip":"","place":"Select a file","group":"160e81fb.f1c86e","order":9,"width":"5","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":990,"y":3240,"wires":[["be4830df.5775d"]]},{"id":"dd88bd23.37cde","type":"function","z":"fa443f73.7a97e","name":"Format data","func":"// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a file\n    obj = {};\n    obj [msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":3240,"wires":[["eb17c7ee.e61988"]]},{"id":"638728aa.cd0b08","type":"ui_template","z":"fa443f73.7a97e","group":"160e81fb.f1c86e","name":"","order":6,"width":"18","height":"6","format":"<div ng-bind-html=\"msg.payload\" height=\"400\" style=\"height: 400px;\"><br/>\n</div>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1180,"y":3300,"wires":[[]]},{"id":"9d27e846.b31db8","type":"template","z":"fa443f73.7a97e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table width=\"100%\">\n    <tr><th>File Name</th><th>Size</th><th>Created</th><th>Changed</th></tr>\n    {{#payload}}\n        <tr>\n            <td><a href=\"/download?filename={{name}}\" target=\"blank\">{{fname}}</a></td>\n            <td>{{stat.size}}</td>\n            <td>{{stat.created}}</td>\n            <td>{{stat.changed}}</td>\n        </tr>\n    {{/payload}}\n</table>\n","output":"str","x":1020,"y":3300,"wires":[["638728aa.cd0b08"]]},{"id":"3e094f82.15d6e","type":"function","z":"fa443f73.7a97e","name":"Convert timestamps","func":"for (var i=0; i<msg.payload.length; i++) {\n    msg.payload[i].stat.created = msg.payload[i].stat.created.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.changed = msg.payload[i].stat.changed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.accessed = msg.payload[i].stat.accessed.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].stat.statusChanged = msg.payload[i].stat.statusChanged.toISOString().slice(0, 19).replace('T', ' ');\n    msg.payload[i].fname = msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '');\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":3300,"wires":[["9d27e846.b31db8"]]},{"id":"7b7e0d58.05e244","type":"ui_button","z":"fa443f73.7a97e","name":"","group":"160e81fb.f1c86e","order":10,"width":"2","height":"1","passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"delete","payload":"","payloadType":"str","topic":"","x":210,"y":3400,"wires":[["8da8147a.999af8"]]},{"id":"7d490dd1.8458b4","type":"function","z":"fa443f73.7a97e","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    // and delete the context/selection as we are deleting the file as well\n    flow.set(\"fileselected\");\n    return msg;\n}","outputs":1,"noerr":0,"x":410,"y":3460,"wires":[["372ee262.fc94de"]]},{"id":"372ee262.fc94de","type":"file","z":"fa443f73.7a97e","name":"Delete file","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"delete","encoding":"none","x":620,"y":3460,"wires":[["993d7272.843ae","5219875b.c070d8"]]},{"id":"aa8c482.93734b8","type":"http in","z":"fa443f73.7a97e","name":"","url":"/download","method":"get","upload":false,"swaggerDoc":"","x":300,"y":2980,"wires":[["d969ba04.e24028"]]},{"id":"d19cc7d8.646328","type":"http response","z":"fa443f73.7a97e","name":"","statusCode":"","headers":{},"x":1090,"y":2980,"wires":[]},{"id":"d969ba04.e24028","type":"function","z":"fa443f73.7a97e","name":"Get the file name","func":"msg.filename = msg.req.query.filename;\nmsg.contentdisposition = \"attachment; filename=\\\"\" + msg.req.query.filename.replace(/^.*(\\\\|\\/|\\:)/, '') + \"\\\"\";\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":2980,"wires":[["e92381c3.c4cd2"]],"outputLabels":["Folder selected"]},{"id":"e92381c3.c4cd2","type":"file in","z":"fa443f73.7a97e","name":"","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":740,"y":2980,"wires":[["99ff4953.d0d5c8"]]},{"id":"99ff4953.d0d5c8","type":"change","z":"fa443f73.7a97e","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"text/csv","tot":"str"},{"t":"set","p":"headers.Content-Disposition","pt":"msg","to":"contentdisposition","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":2980,"wires":[["d19cc7d8.646328"]]},{"id":"2519dd0d.54d6b2","type":"ui_button","z":"fa443f73.7a97e","name":"","group":"160e81fb.f1c86e","order":11,"width":"2","height":"1","passthru":false,"label":"Graph","tooltip":"","color":"","bgcolor":"","icon":"show_chart","payload":"","payloadType":"str","topic":"","x":250,"y":3100,"wires":[["30f41c01.358a54"]]},{"id":"30f41c01.358a54","type":"function","z":"fa443f73.7a97e","name":"Get filename","func":"// Get the filename from the flow context\nlet filename = flow.get(\"fileselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (filename===undefined) {\n    return;\n}\n\n// return the filename to the file-in node to delete\nmsg.filename = filename;\n\nif (msg.filename.replace(/^.*(\\\\|\\/|\\:)/, '')[0]!==\".\") {\n    // Only do this if this is a file, we don't delete folders\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":3100,"wires":[["4f4072b6.0c320c"]]},{"id":"4f4072b6.0c320c","type":"file in","z":"fa443f73.7a97e","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":600,"y":3100,"wires":[["4d254665.d508e8"]]},{"id":"4d254665.d508e8","type":"csv","z":"fa443f73.7a97e","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":false,"include_null_values":false,"x":750,"y":3100,"wires":[["7dcec769.580718","84810f0e.43f4e","eb88d85b.c726a8"]]},{"id":"84810f0e.43f4e","type":"debug","z":"fa443f73.7a97e","name":"Check","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1150,"y":3060,"wires":[]},{"id":"7dcec769.580718","type":"function","z":"fa443f73.7a97e","name":"Format data for chart","func":"var chart = [{\n    \"series\":[],\n    \"data\":[],\n    \"labels\":[msg.filename]\n}];\n\n\n/*\nvar pressure = [];\nvar out2 = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    pressure.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].pressure});\n    out2.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].out2*200});\n\n}\nchart[0].data.push(pressure);\nchart[0].data.push(out2);\n*/\n\nlet columns = 0;\n\n//global.set(\"PM2.5\",msg.payload.current.values[1].value)\n\n//let len = 0;\n\nlen = {payload: msg.payload.length};\nnode.send(len);\n//global.set(\"len\",len);\n\nfor(var series in msg.payload[0]) {\n    if(series!==\"timestamp\") {\n        chart[0].series.push(series);\n        chart[0].data.push([]);\n        columns++;\n    }\n}\n    \n//if(msg.payload.length === 2){   \n    for (var j=0; j<(msg.payload.length); j++) {\n       for(var i=0;i<(columns-2);i++) {\n           chart[0].data[i].push({\"x\":msg.payload[j].timestamp, \"y\":msg.payload[j][chart[0].series[i]]});\n       } \n    }\n/*}else{\n    for(var k=0;k<columns;k++) {\n           chart[0].data[k].push({\"y\":msg.payload[0].timestamp, \"x\":msg.payload[1][chart[0].series[k]]});\n    } \n}*/\n\n\n\nmsg.payload = chart;\nlen.payload = len;\n\nreturn [msg,len];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":960,"y":3100,"wires":[["84810f0e.43f4e","5022cb53.8adc44"],[]]},{"id":"5022cb53.8adc44","type":"ui_chart","z":"fa443f73.7a97e","name":"","group":"160e81fb.f1c86e","order":12,"width":"0","height":"0","label":"","chartType":"line","legend":"true","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1270,"y":3100,"wires":[["ebbb62b4.ac946"]]},{"id":"554f0095.ac1b2","type":"ui_toast","z":"fa443f73.7a97e","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Yes","cancel":"No","raw":false,"topic":"","name":"Confirmation","x":590,"y":3400,"wires":[["24df84fe.ebf45c"]]},{"id":"8da8147a.999af8","type":"change","z":"fa443f73.7a97e","name":"Set message","rules":[{"t":"set","p":"topic","pt":"msg","to":"Delete confirmation","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Are you sure you want to delete this file?","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":3400,"wires":[["554f0095.ac1b2"]]},{"id":"24df84fe.ebf45c","type":"switch","z":"fa443f73.7a97e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":790,"y":3400,"wires":[["7d490dd1.8458b4"]]},{"id":"3d4e5e51.bdf952","type":"function","z":"fa443f73.7a97e","name":"Folder handling","func":"let folder = context.get(\"folder\");\nif (folder===undefined) {\n    folder=\"/\";\n    context.set(\"folder\", folder);\n}\n\nlet hidden = context.get(\"hidden\");\nif (hidden===undefined) {\n    hidden=false;\n    context.set(\"hidden\", hidden);\n}\n\nif (msg.topic===\"up\") {\n    var the_arr = folder.split('/');\n    the_arr.pop();\n    folder=the_arr.join('/'); \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"change\") {\n    folder=msg.payload;    \n    context.set(\"folder\", folder);\n}\nif (msg.topic===\"hidden\") {\n    hidden=msg.payload;    \n    context.set(\"hidden\", hidden);\n}\n\nmsg.payload = {\"start\":folder, \"hidden\": hidden};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":3300,"wires":[["993d7272.843ae","399ac341.7d43bc","5219875b.c070d8"]]},{"id":"399ac341.7d43bc","type":"ui_text","z":"fa443f73.7a97e","group":"160e81fb.f1c86e","order":4,"width":"9","height":"1","name":"","label":"Folder:","format":"{{msg.payload.start}}","layout":"row-left","x":580,"y":3180,"wires":[]},{"id":"b40ea1d8.c700a","type":"ui_button","z":"fa443f73.7a97e","name":"","group":"160e81fb.f1c86e","order":3,"width":"2","height":"1","passthru":false,"label":"Up","tooltip":"","color":"","bgcolor":"","icon":"arrow_upwards","payload":"","payloadType":"str","topic":"up","x":190,"y":3320,"wires":[["3d4e5e51.bdf952"]]},{"id":"80940e39.5035b","type":"ui_button","z":"fa443f73.7a97e","name":"","group":"160e81fb.f1c86e","order":8,"width":"2","height":"1","passthru":false,"label":"Open","tooltip":"","color":"","bgcolor":"","icon":"folder_open","payload":"","payloadType":"str","topic":"","x":210,"y":3520,"wires":[["8c1dfaac.979588"]]},{"id":"8c1dfaac.979588","type":"function","z":"fa443f73.7a97e","name":"Change folder","func":"// Get the filename from the flow context\nlet folderselected = flow.get(\"folderselected\");\n\n// check, if the filename is undefined that means it does not exist yet, nothing is selected yet\n// return: do not output anything\nif (folderselected===undefined) {\n    return;\n}\n\nmsg.topic = \"change\";\nmsg.payload = folderselected;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":3520,"wires":[["3d4e5e51.bdf952"]]},{"id":"58414ec4.c716e","type":"ui_button","z":"fa443f73.7a97e","name":"","group":"160e81fb.f1c86e","order":2,"width":"2","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"autorenew","payload":"/Users/HP/datalog/","payloadType":"str","topic":"change","x":190,"y":3280,"wires":[["3d4e5e51.bdf952"]]},{"id":"5219875b.c070d8","type":"fs-file-lister","z":"fa443f73.7a97e","name":"Folders","start":"/home/pi","pattern":"*.*","folders":"*","hidden":false,"lstype":"directories","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":600,"y":3340,"wires":[["ebc234be.d53fe8"]]},{"id":"37485c24.212054","type":"ui_dropdown","z":"fa443f73.7a97e","name":"Folder Selector","label":"","tooltip":"","place":"Select a folder","group":"160e81fb.f1c86e","order":7,"width":"5","height":"1","passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"","x":1000,"y":3340,"wires":[["2875c79f.531558"]]},{"id":"ebc234be.d53fe8","type":"function","z":"fa443f73.7a97e","name":"Format data","func":"// format the data for the dropdown\nmsg.options = [];\nfor (var i=0; i<msg.payload.length; i++) {\n    // This is a foler\n    obj = {};\n    obj [\"[\"+msg.payload[i].name.replace(/^.*(\\\\|\\/|\\:)/, '')+\"]\"]=msg.payload[i].name;\n    msg.options.push(obj);\n}\nmsg.payload={};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":3340,"wires":[["37485c24.212054"]]},{"id":"be4830df.5775d","type":"change","z":"fa443f73.7a97e","name":"Save selection","rules":[{"t":"set","p":"fileselected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":3240,"wires":[[]]},{"id":"2875c79f.531558","type":"change","z":"fa443f73.7a97e","name":"Save selection","rules":[{"t":"set","p":"folderselected","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":3340,"wires":[[]]},{"id":"928e60a7.994be","type":"ui_switch","z":"fa443f73.7a97e","name":"","label":"Hidden","tooltip":"Show hidden files or not","group":"160e81fb.f1c86e","order":5,"width":"2","height":"1","passthru":false,"decouple":"false","topic":"hidden","style":"","onvalue":"true","onvalueType":"bool","onicon":"check_box","oncolor":"#000000","offvalue":"false","offvalueType":"bool","officon":"check_box_outline_blank","offcolor":"#000000","x":180,"y":3360,"wires":[["3d4e5e51.bdf952"]]},{"id":"ebbb62b4.ac946","type":"ui_text","z":"fa443f73.7a97e","group":"160e81fb.f1c86e","order":12,"width":0,"height":0,"name":"Values","label":"Values:","format":"{{len.payload}}","layout":"row-left","x":1270,"y":3160,"wires":[]},{"id":"d57195e7.e05b98","type":"create dataset","z":"fa443f73.7a97e","name":"","path":"/Users/HP/datalog/Dataset/Dataset.csv","saveFolder":"/Users/HP/datalog/Dataset","saveName":"dataset1","input":"0","output":"1","trainingPartition":"","shuffle":true,"seed":"","x":420,"y":3920,"wires":[["d69c5fdc.59173"]]},{"id":"6c4e327.e0831cc","type":"load dataset","z":"fa443f73.7a97e","name":"","datasetFolder":"/Users/HP/datalog/Dataset","datasetName":"dataset1","partition":"train.csv","input":true,"output":true,"x":370,"y":4040,"wires":[["492fedc5.61e7b4"],["554d7151.22cfe"]]},{"id":"6fcac779.8fe5f8","type":"inject","z":"fa443f73.7a97e","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":3920,"wires":[["d57195e7.e05b98"]]},{"id":"1366c4f5.be419b","type":"inject","z":"fa443f73.7a97e","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":4040,"wires":[["6c4e327.e0831cc"]]},{"id":"2bed5eaf.56d982","type":"inject","z":"fa443f73.7a97e","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":4280,"wires":[["40ec8fd2.3f664","ecda8e9a.7dc36"]]},{"id":"d69c5fdc.59173","type":"debug","z":"fa443f73.7a97e","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":3920,"wires":[]},{"id":"554d7151.22cfe","type":"debug","z":"fa443f73.7a97e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":4080,"wires":[]},{"id":"ab228a52.3ca7b8","type":"debug","z":"fa443f73.7a97e","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":830,"y":4000,"wires":[]},{"id":"58b9fd.6e230604","type":"predictor","z":"fa443f73.7a97e","name":"decision tree classifier predictor1","modelPath":"/Users/HP/datalog/Dataset","modelName":"1dtc.b","x":640,"y":4260,"wires":[["e1031f51.07dc6"],["4514bbd3.00c4b4"]]},{"id":"492fedc5.61e7b4","type":"decision tree classifier","z":"fa443f73.7a97e","name":"decision tree classifier trainer1","savePath":"/Users/HP/datalog/Dataset","saveName":"1dtc.b","maxDepth":"","criterion":"gini","splitter":"best","x":610,"y":4000,"wires":[["ab228a52.3ca7b8"],["554d7151.22cfe"]]},{"id":"e1031f51.07dc6","type":"assessment","z":"fa443f73.7a97e","name":"","score":"accuracy_score","x":670,"y":4200,"wires":[["22247b18.b210d4"],["4514bbd3.00c4b4"]]},{"id":"40ec8fd2.3f664","type":"load dataset","z":"fa443f73.7a97e","name":"","datasetFolder":"/Users/HP/datalog/Dataset","datasetName":"dataset1","partition":"test.csv","input":false,"output":true,"x":370,"y":4200,"wires":[["e1031f51.07dc6"],["4514bbd3.00c4b4"]]},{"id":"ecda8e9a.7dc36","type":"load dataset","z":"fa443f73.7a97e","name":"","datasetFolder":"/Users/HP/datalog/Dataset","datasetName":"dataset1","partition":"test.csv","input":true,"output":false,"x":370,"y":4320,"wires":[["58b9fd.6e230604"],["4514bbd3.00c4b4"]]},{"id":"4514bbd3.00c4b4","type":"debug","z":"fa443f73.7a97e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":870,"y":4320,"wires":[]},{"id":"22247b18.b210d4","type":"debug","z":"fa443f73.7a97e","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":4200,"wires":[]},{"id":"d8c85f80.188ff","type":"predictor","z":"fa443f73.7a97e","name":"decision tree classifier predictor1","modelPath":"/Users/HP/datalog/Dataset","modelName":"1dtc.b","x":1160,"y":3840,"wires":[["dffc2e4a.40f29","d55554d1.089578"],["9260a1d.1bcaf6"]]},{"id":"dffc2e4a.40f29","type":"mqtt out","z":"fa443f73.7a97e","name":"","topic":"predictions","qos":"","retain":"","broker":"cb216faf.d9136","x":1380,"y":4100,"wires":[]},{"id":"9260a1d.1bcaf6","type":"debug","z":"fa443f73.7a97e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1360,"y":4180,"wires":[]},{"id":"35f90fc7.1088e","type":"mqtt in","z":"fa443f73.7a97e","name":"","topic":"classification","qos":"2","datatype":"auto","broker":"cb216faf.d9136","x":790,"y":4140,"wires":[[]]},{"id":"a3c9b2c3.66929","type":"inject","z":"fa443f73.7a97e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"20","payloadType":"num","x":160,"y":4440,"wires":[["9f017e76.8e0f1"]]},{"id":"9f017e76.8e0f1","type":"function","z":"fa443f73.7a97e","name":"","func":"var payload = msg.payload;\nif(payload>18)\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":4440,"wires":[["401380ff.f935b"]]},{"id":"441426f2.75d3d8","type":"e-mail","z":"fa443f73.7a97e","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Rashith","x":690,"y":4440,"wires":[]},{"id":"401380ff.f935b","type":"function","z":"fa443f73.7a97e","name":"","func":"var alarm = msg.payload;\nmsg.to = \"rashithrisiperera@gmail.com\";\nmsg.from = \"noreply@gmail.com\";\n\nvar d = new Date();\nvar message = \"testing\";\nmsg.topic = \"Testing email node\";\nmsg.payload = \"Time:\"+d+message+msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":4540,"wires":[["441426f2.75d3d8"]]},{"id":"4ce42f91.4fbad","type":"trigger","z":"fa443f73.7a97e","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-1","extend":false,"overrideDelay":false,"units":"hr","reset":"12","bytopic":"all","topic":"topic","outputs":1,"x":350,"y":60,"wires":[["ad35fb9e.dd5ae8","26876b0b.65c784","41ce52cc.5be15c"]]},{"id":"48f48bcc.abce04","type":"ui_button","z":"fa443f73.7a97e","name":"","group":"1c1cdbc9.f5f9fc","order":16,"width":"3","height":"1","passthru":true,"label":"Get Started","tooltip":"","color":"black","bgcolor":"yellow","icon":"","payload":"","payloadType":"str","topic":"","x":90,"y":40,"wires":[["4ce42f91.4fbad"]]},{"id":"df4f09b6.e010d8","type":"function","z":"fa443f73.7a97e","name":"","func":"var latitude;\nvar lognitude;\nvar maxDistanceKM;\nvar key;\n\nlatitude=global.get(\"lat\")\nlognitude=global.get(\"log\")\nmaxDistanceKM = \"25\";\n\nkey = \"w6MPyMaOKOuOmzD6CjceZFe62omQ4634\";\n\nflow.set(\"latitude\", latitude)\nflow.set(\"longitude\", lognitude)\nflow.set(\"maxDistanceKM\", maxDistanceKM)\nflow.set(\"apikey\", key)\nmsg.topic = \" \";\n\n//msg.location={\"lat\":latitude,\"lon\":lognitude};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":40,"wires":[["713e0935.7149c8","ad35fb9e.dd5ae8"]]},{"id":"75fb03c5.0b999c","type":"function","z":"fa443f73.7a97e","name":"","func":"\nreturn {\n    payload:12\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":100,"wires":[["4ce42f91.4fbad"]]},{"id":"f473f1e4.32598","type":"ui_button","z":"fa443f73.7a97e","name":"","group":"1c1cdbc9.f5f9fc","order":27,"width":"3","height":"1","passthru":false,"label":"Reset","tooltip":"","color":"black","bgcolor":"yellow","icon":"","payload":"","payloadType":"num","topic":"","x":70,"y":220,"wires":[["a44ed247.a9a0e","92ab6585.9a30b8","75fb03c5.0b999c"]]},{"id":"a44ed247.a9a0e","type":"ui_text_input","z":"fa443f73.7a97e","name":"","label":"Lognitude","tooltip":"","group":"1c1cdbc9.f5f9fc","order":10,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":260,"y":300,"wires":[["43f83cea.f728b4"]]},{"id":"92ab6585.9a30b8","type":"ui_text_input","z":"fa443f73.7a97e","name":"","label":"Latitude","tooltip":"","group":"1c1cdbc9.f5f9fc","order":7,"width":"6","height":"1","passthru":true,"mode":"text","delay":300,"topic":"text","x":260,"y":240,"wires":[["d10bdb9.7a08128","f4a2d12.bf7f73"]]},{"id":"43f83cea.f728b4","type":"function","z":"fa443f73.7a97e","name":"","func":"var mok_log=global.set(\"log\",msg.payload)\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":360,"wires":[[]]},{"id":"d10bdb9.7a08128","type":"function","z":"fa443f73.7a97e","name":"","func":"var mok_lat=global.set(\"lat\",msg.payload)\n//var value1 = msg.payload;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":140,"wires":[[]]},{"id":"459ce6c9.42dfd8","type":"debug","z":"fa443f73.7a97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1370,"y":300,"wires":[]},{"id":"f49ab77.b83d448","type":"ui_template","z":"fa443f73.7a97e","d":true,"group":"265aaa8b.b08b26","name":"","order":1,"width":"0","height":"0","format":"<div><img src=\"https://www.libelium.com/wp-content/uploads/2015/04/dust_sensor_environment.jpg\" alt=\"\" width=\"350\" height=\"275\"></div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1240,"y":100,"wires":[["2edc70db.429cd"]],"info":"`<style>\n#Tab1_Group1 > div {\n       width:90vw;\n   }\n   \n  #Home_Image > div > p[style] {\n      width:100% !important;\n  }\n  \n   #Tab1_Group1_cards[style] {\n      width:100% !important;\n  }\n  \n  #Tab1_Group1_cards > md-card[style] {\n       width:100% !important;\n  }\n\n</style>`"},{"id":"2edc70db.429cd","type":"ui_template","z":"fa443f73.7a97e","d":true,"group":"2c838f41.dec1c","name":"","order":2,"width":"0","height":"0","format":"<div align='justify'><p>Ultrafine particles with an aerodynamic diameter less than 1 micrometers. Ultra-fine dust is the most damaging variant of fine particles because the particles penetrate directly through the lungs into the bloodstream and are thus spread to the organs</p></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1240,"y":160,"wires":[[]]},{"id":"cb79e1d6.0cdb9","type":"ui_template","z":"fa443f73.7a97e","d":true,"group":"265aaa8b.b08b26","name":"","order":1,"width":"0","height":"0","format":"<div><img src=\"https://news.cgtn.com/news/3d3d674d3155444f33457a6333566d54/img/65d4acadc348426faecc19da4a5fbc07/65d4acadc348426faecc19da4a5fbc07.jpg\" width=\"350\" height=\"275\"></div>","storeOutMessages":true,"fwdInMessages":false,"resendOnRefresh":true,"templateScope":"local","x":1420,"y":100,"wires":[["f24f322f.e3545"]],"info":"`<style>\n#Tab1_Group1 > div {\n       width:90vw;\n   }\n   \n  #Home_Image > div > p[style] {\n      width:100% !important;\n  }\n  \n   #Tab1_Group1_cards[style] {\n      width:100% !important;\n  }\n  \n  #Tab1_Group1_cards > md-card[style] {\n       width:100% !important;\n  }\n\n</style>`"},{"id":"f24f322f.e3545","type":"ui_template","z":"fa443f73.7a97e","d":true,"group":"4fb266af.44d8f8","name":"","order":2,"width":"0","height":"0","format":"<div align='justify'><p>Ultrafine particles with an aerodynamic diameter less than 1 micrometers. Ultra-fine dust is the most damaging variant of fine particles because the particles penetrate directly through the lungs into the bloodstream and are thus spread to the organs</p></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1420,"y":160,"wires":[[]]},{"id":"b632451e.52e238","type":"ui_template","z":"fa443f73.7a97e","group":"265aaa8b.b08b26","name":"","order":1,"width":"0","height":"0","format":"<div><img src=\"https://foobot.io/guides/assets/images/the-environmental-impact-of-particle-pollution.jpg\" alt=\"\" width=\"350\" height=\"275\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1060,"y":100,"wires":[["1a678ebd.1b4fa1"]],"info":"`<style>\n#Tab1_Group1 > div {\n       width:90vw;\n   }\n   \n  #Home_Image > div > p[style] {\n      width:100% !important;\n  }\n  \n   #Tab1_Group1_cards[style] {\n      width:100% !important;\n  }\n  \n  #Tab1_Group1_cards > md-card[style] {\n       width:100% !important;\n  }\n\n</style>`"},{"id":"1a678ebd.1b4fa1","type":"ui_template","z":"fa443f73.7a97e","group":"265aaa8b.b08b26","name":"","order":2,"width":"6","height":"4","format":"<div align='justify'><p>Ultrafine particles with an aerodynamic diameter less than 1 micrometers. Ultra-fine dust is the most damaging variant of fine particles because the particles penetrate directly through the lungs into the bloodstream and are thus spread to the organs</p></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1060,"y":160,"wires":[[]]},{"id":"a34c1e1e.8fbb","type":"comment","z":"fa443f73.7a97e","name":"Homepage Images","info":"","x":1170,"y":60,"wires":[]},{"id":"88cd2aa0.262688","type":"ui_template","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","name":"","order":13,"width":"6","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1660,"y":160,"wires":[[]]},{"id":"6a4a4d66.e36a34","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":4,"width":0,"height":0,"name":"","label":"Please enter the cordinates of your area","format":"{{msg.payload}}","layout":"row-spread","x":1760,"y":120,"wires":[]},{"id":"b6e6d4a9.0c9d38","type":"comment","z":"fa443f73.7a97e","name":"HomePage data","info":"","x":1680,"y":80,"wires":[]},{"id":"c387583e.93d7b8","type":"comment","z":"fa443f73.7a97e","name":"Button space","info":"","x":1810,"y":160,"wires":[]},{"id":"d04cf185.a188a","type":"ui_chart","z":"fa443f73.7a97e","d":true,"name":"","group":"6a3c8be2.ffba84","order":4,"width":"6","height":"3","label":"Last Hour Temperature","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1700,"y":380,"wires":[[]]},{"id":"cf78cfcc.20b21","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":25,"width":0,"height":0,"name":"","label":"Temperature:","format":"{{msg.payload}}","layout":"row-spread","x":1710,"y":1340,"wires":[]},{"id":"26a06e74.021eb2","type":"ui_text","z":"fa443f73.7a97e","group":"2673fe7b.9b21da","order":1,"width":0,"height":0,"name":"","label":"Current Temperature:","format":"{{msg.payload}}","layout":"row-spread","x":1980,"y":1380,"wires":[]},{"id":"73198536.0f874c","type":"ui_gauge","z":"fa443f73.7a97e","name":"","group":"2673fe7b.9b21da","order":11,"width":0,"height":0,"gtype":"wave","title":"Temperature","label":"C","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1930,"y":1300,"wires":[]},{"id":"71495dd0.c4ccb4","type":"comment","z":"fa443f73.7a97e","name":"Temperature","info":"","x":1670,"y":340,"wires":[]},{"id":"7fce3dca.1997b4","type":"comment","z":"fa443f73.7a97e","name":"Weather","info":"","x":1960,"y":280,"wires":[]},{"id":"34594876.880518","type":"comment","z":"fa443f73.7a97e","name":"Humidity","info":"","x":1980,"y":340,"wires":[]},{"id":"476d3a1a.ad6784","type":"ui_chart","z":"fa443f73.7a97e","d":true,"name":"","group":"6a3c8be2.ffba84","order":4,"width":"6","height":"3","label":"Last Hour Humidity","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2010,"y":380,"wires":[[]]},{"id":"7e28901a.bb8f6","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":23,"width":0,"height":0,"name":"","label":"Humidity:","format":"{{msg.payload}}","layout":"row-spread","x":1660,"y":1280,"wires":[]},{"id":"7b5b3a84.c1bd34","type":"ui_text","z":"fa443f73.7a97e","group":"667482dc.2d9db4","order":1,"width":0,"height":0,"name":"","label":"Current Humidity:","format":"{{msg.payload}}","layout":"row-spread","x":1950,"y":1200,"wires":[]},{"id":"72eb96ef.bd9208","type":"ui_gauge","z":"fa443f73.7a97e","name":"","group":"667482dc.2d9db4","order":5,"width":0,"height":0,"gtype":"wave","title":"Humidity","label":"units","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1920,"y":1240,"wires":[]},{"id":"c9f42003.6faf","type":"comment","z":"fa443f73.7a97e","name":"Pressure","info":"","x":2260,"y":340,"wires":[]},{"id":"bc5b9f9e.9caf4","type":"ui_chart","z":"fa443f73.7a97e","d":true,"name":"","group":"6a3c8be2.ffba84","order":4,"width":"6","height":"3","label":"Last Hour Pressure","chartType":"line","legend":"false","xformat":"mm:ss","interpolate":"cubic","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2290,"y":380,"wires":[[]]},{"id":"f92f7b19.08cd78","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":24,"width":0,"height":0,"name":"","label":"Pressure:","format":"{{msg.payload}}","layout":"row-spread","x":1620,"y":1220,"wires":[]},{"id":"1c7892b2.fc30cd","type":"ui_text","z":"fa443f73.7a97e","group":"6519f81b.91e8d8","order":1,"width":0,"height":0,"name":"","label":"Current Pressure:","format":"{{msg.payload}}","layout":"row-spread","x":1610,"y":1120,"wires":[]},{"id":"d223e26f.16cef","type":"ui_gauge","z":"fa443f73.7a97e","name":"","group":"6519f81b.91e8d8","order":11,"width":0,"height":0,"gtype":"wave","title":"Pressure","label":"atm","format":"{{msg.payload}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1700,"y":1160,"wires":[]},{"id":"32f469ad.4840d6","type":"comment","z":"fa443f73.7a97e","name":"Chart space","info":"","x":2410,"y":620,"wires":[]},{"id":"559d1db7.ededa4","type":"comment","z":"fa443f73.7a97e","name":"PM25","info":"","x":1670,"y":880,"wires":[]},{"id":"df911572.111478","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":22,"width":0,"height":0,"name":"","label":"PM25:","format":"{{msg.payload}}","layout":"row-spread","x":1390,"y":940,"wires":[]},{"id":"1144cfa4.983a9","type":"ui_text","z":"fa443f73.7a97e","group":"68e37821.20df88","order":5,"width":0,"height":0,"name":"PM25","label":"Current PM25 value:","format":"{{msg.payload}}","layout":"row-spread","x":1670,"y":1000,"wires":[]},{"id":"761408f1.2d76a8","type":"ui_gauge","z":"fa443f73.7a97e","name":"","group":"68e37821.20df88","order":8,"width":0,"height":0,"gtype":"gage","title":"PM25","label":"units","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1670,"y":1040,"wires":[]},{"id":"ebf06159.09893","type":"comment","z":"fa443f73.7a97e","name":"text","info":"","x":1810,"y":1080,"wires":[]},{"id":"ed43b66e.6d5568","type":"comment","z":"fa443f73.7a97e","name":"PM1","info":"","x":2130,"y":880,"wires":[]},{"id":"e5c087c7.00e698","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":19,"width":0,"height":0,"name":"","label":"PM1:","format":"{{msg.payload}}","layout":"row-spread","x":1230,"y":900,"wires":[]},{"id":"743d510c.1782c","type":"ui_text","z":"fa443f73.7a97e","group":"af81517a.f5bb","order":5,"width":0,"height":0,"name":"PM1","label":"Current PM1 value:","format":"{{msg.payload}}","layout":"row-spread","x":2130,"y":1000,"wires":[]},{"id":"b88755b1.4c6dd8","type":"ui_gauge","z":"fa443f73.7a97e","name":"","group":"af81517a.f5bb","order":8,"width":0,"height":0,"gtype":"gage","title":"PM1","label":"units","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2130,"y":1040,"wires":[]},{"id":"f675af8d.ec8ff","type":"comment","z":"fa443f73.7a97e","name":"text","info":"","x":2270,"y":1080,"wires":[]},{"id":"e7efd924.7da358","type":"comment","z":"fa443f73.7a97e","name":"Chart space","info":"","x":2290,"y":1320,"wires":[]},{"id":"14be18e2.de2e27","type":"comment","z":"fa443f73.7a97e","name":"PM10","info":"","x":1950,"y":1580,"wires":[]},{"id":"99faded5.bcd29","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":21,"width":0,"height":0,"name":"","label":"PM10:","format":"{{msg.payload}}","layout":"row-spread","x":1470,"y":1080,"wires":[]},{"id":"fcf37e4.251468","type":"ui_text","z":"fa443f73.7a97e","group":"34896cbb.8e9f54","order":5,"width":0,"height":0,"name":"PM10","label":"Current PM10 value:","format":"{{msg.payload}}","layout":"row-spread","x":1670,"y":1500,"wires":[]},{"id":"e2461514.6b9c08","type":"ui_gauge","z":"fa443f73.7a97e","name":"","group":"34896cbb.8e9f54","order":8,"width":0,"height":0,"gtype":"gage","title":"PM10","label":"units","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1670,"y":1540,"wires":[]},{"id":"c37e3122.1834a","type":"comment","z":"fa443f73.7a97e","name":"text","info":"","x":1810,"y":1580,"wires":[]},{"id":"713e0935.7149c8","type":"debug","z":"fa443f73.7a97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1190,"y":20,"wires":[]},{"id":"5255a36c.13d61c","type":"q-gate","z":"fa443f73.7a97e","name":"","controlTopic":"control","defaultState":"queueing","openCmd":"open","closeCmd":"close","toggleCmd":"toggle","queueCmd":"queue","defaultCmd":"default","triggerCmd":"trigger","flushCmd":"flush","resetCmd":"reset","peekCmd":"","dropCmd":"","statusCmd":"","maxQueueLength":"10","keepNewest":true,"qToggle":false,"persist":false,"storeName":"memory","x":1110,"y":300,"wires":[["459ce6c9.42dfd8"]]},{"id":"f4a2d12.bf7f73","type":"debug","z":"fa443f73.7a97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":180,"wires":[]},{"id":"ad6f296d.a506f8","type":"http request","z":"fa443f73.7a97e","name":"Get measurements","method":"GET","ret":"obj","paytoqs":false,"url":"https://airapi.airly.eu/v2/measurements/installation?installationId={{installationId}}","tls":"","proxy":"","authType":"","x":630,"y":640,"wires":[["586bb95a.8b69f8","4b1e4d60.30ede4","194f05de.1c172a","15bf8d83.f83b02","1a5a3b86.0d3074","936f20e.9d50fe","258b2142.c4dd2e","510c9445.f716cc","6ff14ba3.30f024","7fb5e72e.682038","baa3b384.22e72","c59a532.338deb","647cfd66.759304","9f221fee.6fc54","36f7279c.1c7a08","4728e7de.b3eda8","ed26fca1.80245","4f1fb3fa.6c67dc","77125baa.df7994","c19be482.e65ba8","b3b34473.2b4448","a859f9b3.63a818"]]},{"id":"76455d5b.0908a4","type":"function","z":"fa443f73.7a97e","name":"AIRLY CAQI value","func":"return { payload: msg.payload.current.indexes[0].value };","outputs":1,"noerr":0,"x":1010,"y":720,"wires":[[]]},{"id":"2c24c1ee.f18bde","type":"http request","z":"fa443f73.7a97e","name":"Get nearest station","method":"GET","ret":"obj","paytoqs":false,"url":"https://airapi.airly.eu/v2/installations/nearest?lat={{lat}}&lng={{lng}}&maxDistanceKM={{maxDistanceKM}}","tls":"","proxy":"","authType":"","x":350,"y":780,"wires":[["18823dae.91e192","100f3120.9f12bf"]]},{"id":"de92750a.08f688","type":"function","z":"fa443f73.7a97e","name":"Set params","func":"msg.lat = flow.get(\"latitude\");\nmsg.lng = flow.get(\"longitude\");\nmsg.maxDistanceKM = flow.get(\"maxDistanceKM\");\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['apikey'] = flow.get(\"apikey\");\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":720,"wires":[["2c24c1ee.f18bde"]]},{"id":"6b447d34.7a1cf4","type":"function","z":"fa443f73.7a97e","name":"AIRLY CAQI level","func":"return { payload: msg.payload.current.indexes[0].level };","outputs":1,"noerr":0,"x":990,"y":780,"wires":[[]]},{"id":"6303dbae.480ee4","type":"function","z":"fa443f73.7a97e","name":"PM2.5 value","func":"return { payload: msg.payload.current.values[1].value };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":480,"wires":[[]]},{"id":"a48e4959.ef49a8","type":"function","z":"fa443f73.7a97e","name":"PM10 value","func":"return { payload: msg.payload.current.values[2].value };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":890,"y":600,"wires":[[]]},{"id":"eed09c52.cc09f","type":"function","z":"fa443f73.7a97e","name":"PM2.5 limit-percent","func":"return { payload: msg.payload.current.standards[0].percent };","outputs":1,"noerr":0,"x":910,"y":540,"wires":[[]]},{"id":"26e9e2da.473b9e","type":"function","z":"fa443f73.7a97e","name":"PM10 limit-percent","func":"return { payload: msg.payload.current.standards[1].percent };","outputs":1,"noerr":0,"x":910,"y":660,"wires":[[]]},{"id":"b14e3ef3.3cfa9","type":"mqtt out","z":"fa443f73.7a97e","name":"node-red/Airly/PM25/value","topic":"node-red/Airly/PM25/value","qos":"0","retain":"true","broker":"a1b0e25b.130ed","x":1200,"y":480,"wires":[]},{"id":"44c713a7.7c41cc","type":"mqtt out","z":"fa443f73.7a97e","name":"node-red/Airly/PM25/limit-percent","topic":"node-red/Airly/PM25/limit-percent","qos":"0","retain":"true","broker":"a1b0e25b.130ed","x":1180,"y":540,"wires":[]},{"id":"36fd3587.b1c6ca","type":"mqtt out","z":"fa443f73.7a97e","name":"node-red/Airly/PM10/value","topic":"node-red/Airly/PM10/value","qos":"0","retain":"true","broker":"a1b0e25b.130ed","x":1200,"y":600,"wires":[]},{"id":"9bf953d3.eaa07","type":"mqtt out","z":"fa443f73.7a97e","name":"node-red/Airly/PM10/limit-percent","topic":"node-red/Airly/PM10/limit-percent","qos":"0","retain":"true","broker":"a1b0e25b.130ed","x":1180,"y":660,"wires":[]},{"id":"abd7480d.fb1aa8","type":"mqtt out","z":"fa443f73.7a97e","name":"node-red/Airly/CAQI/value","topic":"node-red/Airly/CAQI/value","qos":"0","retain":"true","broker":"a1b0e25b.130ed","x":1210,"y":760,"wires":[]},{"id":"340fa609.0f3c2a","type":"mqtt out","z":"fa443f73.7a97e","name":"node-red/Airly/CAQI/level","topic":"node-red/Airly/CAQI/level","qos":"0","retain":"true","broker":"a1b0e25b.130ed","x":1210,"y":820,"wires":[]},{"id":"100f3120.9f12bf","type":"change","z":"fa443f73.7a97e","name":"Remember station","rules":[{"t":"set","p":"installationId","pt":"flow","to":"msg.payload[0].id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":780,"wires":[["4f964380.3876fc"]]},{"id":"41ce52cc.5be15c","type":"switch","z":"fa443f73.7a97e","name":"Station selected?","property":"installationId","propertyType":"flow","rules":[{"t":"regex","v":"\\d","vt":"str","case":false},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":230,"y":620,"wires":[["4f964380.3876fc"],["de92750a.08f688"]],"outputLabels":["Yes","No"]},{"id":"e20f4f67.b9f93","type":"inject","z":"fa443f73.7a97e","name":"Pool every 20m","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1200","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":650,"y":480,"wires":[[]]},{"id":"26876b0b.65c784","type":"credentials","z":"fa443f73.7a97e","name":"Airly API key","props":[{"value":"apikey","type":"flow"}],"x":570,"y":380,"wires":[[]]},{"id":"e8d00058.c7bcf","type":"change","z":"fa443f73.7a97e","name":"Forget station","rules":[{"t":"delete","p":"installationId","pt":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":860,"wires":[[]]},{"id":"18823dae.91e192","type":"delay","z":"fa443f73.7a97e","name":"After 1h","pauseType":"delay","timeout":"1","timeoutUnits":"hours","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":860,"wires":[["e8d00058.c7bcf"]]},{"id":"4f964380.3876fc","type":"function","z":"fa443f73.7a97e","name":"Set params","func":"msg.installationId = flow.get(\"installationId\");\nmsg.headers = {};\nmsg.headers['Accept'] = 'application/json';\nmsg.headers['apikey'] = flow.get(\"apikey\");\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":580,"wires":[["ad6f296d.a506f8"]]},{"id":"1d6b3895.e17077","type":"comment","z":"fa443f73.7a97e","name":"<-- Put your GPS location here","info":"","x":790,"y":340,"wires":[]},{"id":"7f1bba5c.4eb5d4","type":"comment","z":"fa443f73.7a97e","name":"<-- Put your Airly API key here (package -contrib-credentials required)","info":"","x":910,"y":380,"wires":[]},{"id":"ad35fb9e.dd5ae8","type":"change","z":"fa443f73.7a97e","name":"Configuration","rules":[{"t":"set","p":"latitude","pt":"flow","to":"lat","tot":"global"},{"t":"set","p":"longitude","pt":"flow","to":"log","tot":"global"},{"t":"set","p":"maxDistanceKM","pt":"flow","to":"25","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":340,"wires":[[]],"icon":"node-red/cog.png"},{"id":"7fb5e72e.682038","type":"function","z":"fa443f73.7a97e","name":"P_PM25 chart","func":"global.set(\"P_PM25\",msg.payload.history[0].values[1].value)\nreturn{\n    payload:msg.payload.history[0].values[1].value\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":1320,"wires":[["108f9a27.f4bb56"]]},{"id":"6ff14ba3.30f024","type":"function","z":"fa443f73.7a97e","name":"P_PM1 chart","func":"global.set(\"P_PM1\",msg.payload.history[0].values[0].value)\nreturn{\n    payload:msg.payload.history[0].values[0].value\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":1280,"wires":[["244a0c48.523004"]]},{"id":"baa3b384.22e72","type":"function","z":"fa443f73.7a97e","name":"P_PM10 chart","func":"global.set(\"P_PM10\",msg.payload.history[0].values[2].value)\nreturn{\n    payload:msg.payload.history[0].values[2].value\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1220,"y":1380,"wires":[["7e706695.ed64b8"]]},{"id":"c59a532.338deb","type":"function","z":"fa443f73.7a97e","name":"P_CAQI value chart","func":"global.set(\"P_CAQIvalue\",msg.payload.history[0].indexes[0].value)\nreturn{\n    payload:msg.payload.history[0].indexes[0].value\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":1440,"wires":[["5a6c3c69.cd8334"]]},{"id":"647cfd66.759304","type":"function","z":"fa443f73.7a97e","name":"P_CAQI level chart","func":"global.set(\"P_CAQIlevel\",msg.payload.history[0].indexes[0].level)\nreturn{\n    payload:msg.payload.history[0].indexes[0].level\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1330,"y":1500,"wires":[["9af9ab7e.30cd88"]]},{"id":"9f221fee.6fc54","type":"function","z":"fa443f73.7a97e","name":"F_PM25 chart","func":"global.set(\"F_PM1\",msg.payload.forecast[0].values[0].value)\nreturn{\n    payload:msg.payload.forecast[0].values[0].value\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1240,"y":1560,"wires":[["cf26481f.985878"]]},{"id":"36f7279c.1c7a08","type":"function","z":"fa443f73.7a97e","name":"F_PM10 chart","func":"global.set(\"F_PM1\",msg.payload.forecast[0].values[1].value)\nreturn{\n    payload:msg.payload.forecast[0].values[1].value\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":1600,"wires":[["a42cf3e4.4247c"]]},{"id":"4728e7de.b3eda8","type":"function","z":"fa443f73.7a97e","name":"F_CAQI value chart","func":"global.set(\"P_CAQIvalue\",msg.payload.forecast[0].indexes[0].value)\nreturn{\n    payload:msg.payload.forecast[0].indexes[0].value\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1370,"y":1660,"wires":[["f9a50125.6579e"]]},{"id":"a859f9b3.63a818","type":"function","z":"fa443f73.7a97e","name":"F_CAQI chart level","func":"global.set(\"P_CAQIlevel\",msg.payload.forecast[0].indexes[0].level)\nreturn{\n    payload:msg.payload.forecast[0].indexes[0].level\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":1700,"wires":[["427f4640.aab4b8"]]},{"id":"258b2142.c4dd2e","type":"function","z":"fa443f73.7a97e","name":"PM1 chart","func":"global.set(\"PM1\",msg.payload.current.values[0].value)\nreturn{\n    payload:msg.payload.current.values[0].value\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":900,"wires":[["e5c087c7.00e698","b88755b1.4c6dd8","743d510c.1782c","662c510f.474c3"]]},{"id":"510c9445.f716cc","type":"debug","z":"fa443f73.7a97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1020,"y":860,"wires":[]},{"id":"ed26fca1.80245","type":"function","z":"fa443f73.7a97e","name":"Pressure","func":"global.set(\"Pressure\",msg.payload.current.values[3].value)\nreturn{\n    payload:msg.payload.current.values[3].value\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":1240,"wires":[["f92f7b19.08cd78","d223e26f.16cef","1c7892b2.fc30cd"]]},{"id":"4f1fb3fa.6c67dc","type":"function","z":"fa443f73.7a97e","name":"Humidity","func":"global.set(\"Humidity\",msg.payload.current.values[4].value)\nreturn{\n    payload:msg.payload.current.values[4].value\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1410,"y":1280,"wires":[["7e28901a.bb8f6","72eb96ef.bd9208","7b5b3a84.c1bd34"]]},{"id":"77125baa.df7994","type":"function","z":"fa443f73.7a97e","name":"Temperature","func":"global.set(\"Temperature\",msg.payload.current.values[5].value)\nreturn{\n    payload:msg.payload.current.values[5].value\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1480,"y":1340,"wires":[["cf78cfcc.20b21","73198536.0f874c","26a06e74.021eb2"]]},{"id":"95354a4e.a21808","type":"function","z":"fa443f73.7a97e","name":"","func":"var payload = msg.payload;\nif(payload==\"HIGH\")\n    return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":1820,"wires":[["7acf3854.766998"]]},{"id":"7acf3854.766998","type":"function","z":"fa443f73.7a97e","name":"","func":"var alarm = msg.payload;\nmsg.to = \"rashithrisiperera@gmail.com\";\nmsg.from = \"noreply@gmail.com\";\n\nvar lat = global.get(\"lat\")\nvar log = global.get(\"log\")\n\nvar d = new Date();\nvar message = \"Threat Level - Air Quality\";\nmsg.topic = \"AirSPEC - Threat Alert\";\nmsg.payload = \"Location: (\"+lat+\",\"+log+\"), Time:\"+d+\",\"+message+\": \"+msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":1920,"wires":[["3ad067ab.19f438"]]},{"id":"3ad067ab.19f438","type":"e-mail","z":"fa443f73.7a97e","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"","dname":"Rashith","x":1620,"y":1820,"wires":[]},{"id":"2f3e4dd7.1a2db2","type":"function","z":"fa443f73.7a97e","name":"File name generator","func":"var now = new Date();\nvar yyyy = now.getFullYear();\nvar mm = now.getMonth()<9 ? \"0\"+ (now.getMonth()+1): (now.getMonth() +1);\nvar dd = now.getDate()< 10? \"0\"+ now.getDate(): now.getMonth();\nvar hh = now.getHours()< 10? \"0\"+ now.getHours(): now.getHours();\nvar min = now.getMinutes()< 10? \"0\"+ now.getMinutes(): now.getMinutes();\nvar from = msg.payload.history[0].fromDateTime;\nvar to = msg.payload.history[23].tillDateTime;\n\nmsg.fname = \"PastData_from_\"+yyyy+\"_to_\"+mm+\".csv\";\n\nmsg.filename = \"/Users/HP/datalog/Past/\"+msg.fname;\n\nmsg.filecontent = msg.payload;\n\nmsg.payload = {\"pattern\": msg.fname}\n\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.fname});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1800,"wires":[["1f1513b.f63c8ec"]]},{"id":"b3b34473.2b4448","type":"function","z":"fa443f73.7a97e","name":"set data","func":"var now = new Date();\n\nvar chart = [{\n    \"series\":[],\n    \"PM1\":[],\n    \"PM25\":[],\n    \"PM10\":[]\n    //\"labels\":[msg.filename]\n}];\n\nlet columns = 0;\n\n//global.set(\"PM2.5\",msg.payload.current.values[1].value)\n\n//let len = 0;\n\n//len = {payload: msg.payload.length};\n//node.send(len);\n//global.set(\"len\",len);\n\nfor(var i = 0; i < 23; i++) {\n    chart[0].series.push(i);\n    chart[0].PM1.push(msg.payload.history[i].values[0].value);\n    chart[0].PM25.push(msg.payload.history[i].values[1].value);\n    chart[0].PM10.push(msg.payload.history[i].values[2].value);\n    columns++;\n}\n\nmsg.payload = chart;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":1780,"wires":[["272d112b.b78d6e","2f3e4dd7.1a2db2"]]},{"id":"1f1513b.f63c8ec","type":"fs-file-lister","z":"fa443f73.7a97e","name":"Fie lister","start":"/Users/HP/datalog/Past/","pattern":"*.*","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":1160,"y":1920,"wires":[["acdfe714.5a88d8"]]},{"id":"272d112b.b78d6e","type":"function","z":"fa443f73.7a97e","name":"Dataset generator","func":"msg.fname = \"Past_Dataset.csv\";\n\nmsg.filename = \"/Users/HP/datalog/Dataset/\"+msg.fname;\n\nmsg.filecontent = msg.payload;\n\nmsg.payload = {\"pattern\": msg.fname}\n\nnode.status({fill:\"blue\", shape:\"ring\", text: msg.fname});\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":1900,"wires":[["a221d04.973bb3"]]},{"id":"acdfe714.5a88d8","type":"switch","z":"fa443f73.7a97e","name":"","property":"$count(msg.payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":2060,"wires":[["fa10aab9.dff6f8"],["b8ef9092.01ce8"]]},{"id":"a221d04.973bb3","type":"fs-file-lister","z":"fa443f73.7a97e","name":"","start":"/Users/HP/datalog/Dataset/","pattern":"*.*","folders":"*","hidden":true,"lstype":"files","path":true,"single":true,"depth":0,"stat":true,"showWarnings":false,"x":860,"y":2120,"wires":[["a2d2ebc0.b90e88"]]},{"id":"fa10aab9.dff6f8","type":"change","z":"fa443f73.7a97e","name":"get content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":2020,"wires":[["b2c2dd52.4c938"]]},{"id":"b8ef9092.01ce8","type":"change","z":"fa443f73.7a97e","name":"get content","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":2080,"wires":[["f92f53d2.85ab7"]]},{"id":"a2d2ebc0.b90e88","type":"change","z":"fa443f73.7a97e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"filecontent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":2160,"wires":[["980815a8.3375b8"]]},{"id":"b2c2dd52.4c938","type":"csv","z":"fa443f73.7a97e","name":"csv1","sep":",","hdrin":"","hdrout":"all","multi":"one","ret":"\\n","temp":"series, PM1, PM25, PM10","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1350,"y":2040,"wires":[["9f1557fc.c52d18"]]},{"id":"f92f53d2.85ab7","type":"csv","z":"fa443f73.7a97e","name":"csv2","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"series, PM1, PM25, PM10","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1310,"y":2180,"wires":[["9f1557fc.c52d18"]]},{"id":"980815a8.3375b8","type":"csv","z":"fa443f73.7a97e","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"series, PM1, PM25, PM10","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":910,"y":2240,"wires":[["30b20870.2de128"]]},{"id":"9f1557fc.c52d18","type":"file","z":"fa443f73.7a97e","name":"File","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","encoding":"none","x":1440,"y":2120,"wires":[[]]},{"id":"30b20870.2de128","type":"file","z":"fa443f73.7a97e","name":"File_dataset","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1120,"y":2240,"wires":[[]]},{"id":"ab67861c.3b3e18","type":"inject","z":"fa443f73.7a97e","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1200","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":2400,"wires":[["ffd3aeff.530c7"]]},{"id":"ffd3aeff.530c7","type":"function","z":"fa443f73.7a97e","name":"","func":"let temp=parseFloat(global.get(\"Temperature\"));\nlet humid=parseFloat(global.get(\"Humidity\"));\nlet press=parseFloat(global.get(\"Pressure\"));\nlet pm1=parseFloat(global.get(\"PM1\"));\nlet pm10=parseFloat(global.get(\"PM10\"));\nlet pm25=parseFloat(global.get(\"PM25\"));\nlet caqivalue=parseFloat(global.get(\"CAQIvalue\"));\nlet caqilevel=global.get(\"CAQIlevel\");\n\nlet p_pm1=parseFloat(global.get(\"P_PM1\"));\nlet p_pm25=parseFloat(global.get(\"P_PM25\"));\nlet p_pm10=parseFloat(global.get(\"P_PM10\"));\nlet p_caqivalue=parseFloat(global.get(\"P_CAQIvalue\"));\nlet p_caqilevel=global.get(\"P_CAQIlevel\");\nlet f_pm1=parseFloat(global.get(\"F_PM1\"));\nlet f_pm10=parseFloat(global.get(\"F_PM10\"));\nlet f_caqi=parseFloat(global.get(\"F_CAQIvalue\"));\nlet f_caqilevel=global.get(\"F_CAQIlevel\");\n\n\n\nmsg.payload = {\n      \n         PM1: pm1,\n         PM25: pm25,\n         PM10: pm10,\n         Temperature:temp,\n         Humidity:humid,\n         Pressure:press,\n         CAQIvalue:caqivalue,\n         CAQIlevel:caqilevel,\n         P_PM1:p_pm1,\n         P_PM25:p_pm25,\n         P_PM10:p_pm10,\n         P_CAQIvalue:p_caqivalue,\n         P_CAQIlevel:p_caqilevel,\n         F_PM1:f_pm1,\n         F_PM10:f_pm10,\n         F_CAQIvalue:f_caqi,\n         F_CAQIlevel:f_caqilevel\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":2400,"wires":[["b1cab5cb.4ba3d8","4b6e895d.f2c068"]]},{"id":"b1cab5cb.4ba3d8","type":"mqtt out","z":"fa443f73.7a97e","name":"","topic":"inair","qos":"","retain":"","broker":"8064dbee.6bd568","x":570,"y":2400,"wires":[]},{"id":"1e21a8a1.5307b7","type":"mqtt in","z":"fa443f73.7a97e","name":"","topic":"outair","qos":"2","datatype":"auto","broker":"8064dbee.6bd568","x":170,"y":2280,"wires":[["82d7ba5a.f709c8"]]},{"id":"82d7ba5a.f709c8","type":"function","z":"fa443f73.7a97e","name":"","func":"let string=msg.payload;\nlet latitude=\"\";\nlet longitude=\"\";\nlet condition=0;\nfor(let i=0;i<string.length;i++){\n    if(string[i]==\",\"){\n        condition=1;\n    }\n    if (condition==1){\n        if(string[i]!=\",\"){\n            longitude+=string[i];\n        }\n        \n    }\n    else{\n        \n        latitude+=string[i];\n    }\n    \n}\nmsg.payload = {\n      \n         \"latitude\": latitude,\n         \"longitude\": longitude\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":2280,"wires":[["6003e7fa.8b72c8"]]},{"id":"6003e7fa.8b72c8","type":"debug","z":"fa443f73.7a97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":2280,"wires":[]},{"id":"662c510f.474c3","type":"ui_chart","z":"fa443f73.7a97e","name":"","group":"1bf1f3a7.65dbcc","order":1,"width":0,"height":0,"label":"PM 1","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1500,"y":900,"wires":[[]]},{"id":"4eed6733.95b998","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":70,"width":0,"height":0,"name":"","label":"Prediction for PM25","format":"{{msg.payload}}","layout":"row-spread","x":2670,"y":4680,"wires":[]},{"id":"f3d6982c.1b5d98","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":71,"width":0,"height":0,"name":"","label":"Prediction for PM10","format":"{{msg.payload}}","layout":"row-spread","x":2590,"y":3660,"wires":[]},{"id":"d55554d1.089578","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":69,"width":0,"height":0,"name":"","label":"Prediction for PM1","format":"{{msg.payload}}","layout":"row-spread","x":1560,"y":3920,"wires":[]},{"id":"244a0c48.523004","type":"ui_text","z":"fa443f73.7a97e","group":"af81517a.f5bb","order":10,"width":0,"height":0,"name":"","label":"Last hour value","format":"{{msg.payload}}","layout":"row-spread","x":1970,"y":1480,"wires":[]},{"id":"108f9a27.f4bb56","type":"ui_text","z":"fa443f73.7a97e","group":"68e37821.20df88","order":35,"width":0,"height":0,"name":"","label":"Last hour value","format":"{{msg.payload}}","layout":"row-spread","x":2030,"y":1540,"wires":[]},{"id":"7e706695.ed64b8","type":"ui_text","z":"fa443f73.7a97e","group":"34896cbb.8e9f54","order":10,"width":0,"height":0,"name":"","label":"last hour value","format":"{{msg.payload}}","layout":"row-spread","x":2090,"y":1640,"wires":[]},{"id":"5a6c3c69.cd8334","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":72,"width":0,"height":0,"name":"","label":"Last hour CAQI value","format":"{{msg.payload}}","layout":"row-spread","x":2210,"y":1720,"wires":[]},{"id":"9af9ab7e.30cd88","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":73,"width":0,"height":0,"name":"","label":"Last hour description","format":"{{msg.payload}}","layout":"row-spread","x":2250,"y":1780,"wires":[]},{"id":"cf26481f.985878","type":"ui_text","z":"fa443f73.7a97e","group":"68e37821.20df88","order":36,"width":0,"height":0,"name":"","label":"Forecasted value","format":"{{msg.payload}}","layout":"row-spread","x":1700,"y":1620,"wires":[]},{"id":"a42cf3e4.4247c","type":"ui_text","z":"fa443f73.7a97e","group":"34896cbb.8e9f54","order":11,"width":0,"height":0,"name":"","label":"Forecasted value","format":"{{msg.payload}}","layout":"row-spread","x":1760,"y":1680,"wires":[]},{"id":"f9a50125.6579e","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":74,"width":0,"height":0,"name":"","label":"Forecasted CAQI value","format":"{{msg.payload}}","layout":"row-spread","x":1840,"y":1740,"wires":[]},{"id":"427f4640.aab4b8","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":75,"width":0,"height":0,"name":"","label":"Forecasted level","format":"{{msg.payload}}","layout":"row-spread","x":1890,"y":1800,"wires":[]},{"id":"3bcab830.ecb3a8","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":76,"width":0,"height":0,"name":"","label":"CAQI level","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":1280,"wires":[]},{"id":"f4ddf496.d09938","type":"ui_text","z":"fa443f73.7a97e","group":"1c1cdbc9.f5f9fc","order":77,"width":0,"height":0,"name":"","label":"CAQI level","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":1360,"wires":[]},{"id":"723341dd.0fb91","type":"ui_text","z":"fa443f73.7a97e","group":"af81517a.f5bb","order":11,"width":0,"height":0,"name":"","label":"Forecasted value","format":"NaN","layout":"row-spread","x":2000,"y":1900,"wires":[]},{"id":"eb88d85b.c726a8","type":"function","z":"fa443f73.7a97e","name":"","func":"var chart = [{\n    \"series\":[],\n    \"data\":[],\n    \"labels\":[msg.filename]\n}];\n\n\n/*\nvar pressure = [];\nvar out2 = [];\n\nfor (var i=0; i<msg.payload.length; i++) {\n    pressure.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].pressure});\n    out2.push({\"x\":msg.payload[i].timestamp, \"y\":msg.payload[i].out2*200});\n\n}\nchart[0].data.push(pressure);\nchart[0].data.push(out2);\n*/\n\nlet columns = 0;\n\n//global.set(\"PM2.5\",msg.payload.current.values[1].value)\n\n//let len = 0;\n\nlen = {payload: msg.payload.length};\nnode.send(len);\n//global.set(\"len\",len);\n\nfor(var series in msg.payload[0]) {\n    if(series!==\"timestamp\") {\n        chart[0].series.push(series);\n        chart[0].data.push([]);\n        columns++;\n    }\n}\n    \n//if(msg.payload.length === 2){   \n    for (var j=0; j<(msg.payload.length); j++) {\n       for(var i=4;i<(columns);i++) {\n           chart[0].data[i].push({\"x\":msg.payload[j].timestamp, \"y\":msg.payload[j][chart[0].series[i]]});\n       } \n    }\n/*}else{\n    for(var k=0;k<columns;k++) {\n           chart[0].data[k].push({\"y\":msg.payload[0].timestamp, \"x\":msg.payload[1][chart[0].series[k]]});\n    } \n}*/\n\n\n\nmsg.payload = chart;\nlen.payload = len;\n\nreturn [msg,len];","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":3180,"wires":[["7b9cc0c1.2ff2a"]]},{"id":"7b9cc0c1.2ff2a","type":"ui_chart","z":"fa443f73.7a97e","name":"","group":"bc7be24f.8a602","order":5,"width":"6","height":"6","label":"Temporal variation","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1200,"y":3200,"wires":[[]]},{"id":"b3341ae3.7b89c8","type":"create dataset","z":"fa443f73.7a97e","name":"","path":"/Users/HP/datalog/Dataset/Dataset.csv","saveFolder":"/Users/HP/datalog/Dataset","saveName":"dataset2","input":"0","output":"2","trainingPartition":"","shuffle":true,"seed":"","x":1360,"y":4360,"wires":[["e607c4c8.c88d68"]]},{"id":"71a833d7.0c14cc","type":"load dataset","z":"fa443f73.7a97e","name":"","datasetFolder":"/Users/HP/datalog/Dataset","datasetName":"dataset2","partition":"train.csv","input":true,"output":true,"x":1310,"y":4480,"wires":[["6452c5ab.f4548c"],["fac18d94.617ee"]]},{"id":"15cfd7af.916fb8","type":"inject","z":"fa443f73.7a97e","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1130,"y":4360,"wires":[["b3341ae3.7b89c8"]]},{"id":"54b8be62.6a179","type":"inject","z":"fa443f73.7a97e","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1130,"y":4480,"wires":[["71a833d7.0c14cc"]]},{"id":"d6e8712f.67882","type":"inject","z":"fa443f73.7a97e","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1130,"y":4720,"wires":[["479769e4.50f2e8","b6887a46.774d88"]]},{"id":"e607c4c8.c88d68","type":"debug","z":"fa443f73.7a97e","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1590,"y":4360,"wires":[]},{"id":"fac18d94.617ee","type":"debug","z":"fa443f73.7a97e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1790,"y":4520,"wires":[]},{"id":"3a319c4e.b584f4","type":"debug","z":"fa443f73.7a97e","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1770,"y":4440,"wires":[]},{"id":"8bcf5296.f2772","type":"predictor","z":"fa443f73.7a97e","name":"decision tree classifier predictor2","modelPath":"/Users/HP/datalog/Dataset","modelName":"2dtc.b","x":1580,"y":4700,"wires":[["d209b27b.569b7"],["3792cb8d.e3ae44"]]},{"id":"6452c5ab.f4548c","type":"decision tree classifier","z":"fa443f73.7a97e","name":"decision tree classifier trainer2","savePath":"/Users/HP/datalog/Dataset","saveName":"2dtc.b","maxDepth":"","criterion":"gini","splitter":"best","x":1550,"y":4440,"wires":[["3a319c4e.b584f4"],["fac18d94.617ee"]]},{"id":"d209b27b.569b7","type":"assessment","z":"fa443f73.7a97e","name":"","score":"accuracy_score","x":1610,"y":4640,"wires":[["2c0ab15a.f4756e"],["3792cb8d.e3ae44"]]},{"id":"479769e4.50f2e8","type":"load dataset","z":"fa443f73.7a97e","name":"","datasetFolder":"/Users/HP/datalog/Dataset","datasetName":"dataset2","partition":"test.csv","input":false,"output":true,"x":1310,"y":4640,"wires":[["d209b27b.569b7"],["3792cb8d.e3ae44"]]},{"id":"b6887a46.774d88","type":"load dataset","z":"fa443f73.7a97e","name":"","datasetFolder":"/Users/HP/datalog/Dataset","datasetName":"dataset2","partition":"test.csv","input":true,"output":false,"x":1310,"y":4760,"wires":[["8bcf5296.f2772"],["3792cb8d.e3ae44"]]},{"id":"3792cb8d.e3ae44","type":"debug","z":"fa443f73.7a97e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1810,"y":4760,"wires":[]},{"id":"2c0ab15a.f4756e","type":"debug","z":"fa443f73.7a97e","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1810,"y":4640,"wires":[]},{"id":"7951a4ed.bedc2c","type":"mqtt in","z":"fa443f73.7a97e","name":"","topic":"classification","qos":"2","datatype":"auto","broker":"cb216faf.d9136","x":1730,"y":4580,"wires":[[]]},{"id":"e5221397.8adc5","type":"create dataset","z":"fa443f73.7a97e","name":"","path":"/Users/HP/datalog/Dataset/Dataset.csv","saveFolder":"/Users/HP/datalog/Dataset","saveName":"dataset3","input":"0","output":"3","trainingPartition":"","shuffle":true,"seed":"","x":2380,"y":4020,"wires":[["6a3856b0.fb00a8"]]},{"id":"da2a06f8.2dbff8","type":"load dataset","z":"fa443f73.7a97e","name":"","datasetFolder":"/Users/HP/datalog/Dataset","datasetName":"dataset3","partition":"train.csv","input":true,"output":true,"x":2330,"y":4140,"wires":[["3cd1eff7.ae1c9"],["1c097e79.96e5d2"]]},{"id":"999eb74d.93dc68","type":"inject","z":"fa443f73.7a97e","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2150,"y":4020,"wires":[["e5221397.8adc5"]]},{"id":"78629c78.33b5d4","type":"inject","z":"fa443f73.7a97e","name":"start","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2150,"y":4140,"wires":[["da2a06f8.2dbff8"]]},{"id":"4a684f57.ddc0c","type":"inject","z":"fa443f73.7a97e","name":"start","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2150,"y":4380,"wires":[["c7bb06da.d10238","62d36467.3a7dbc"]]},{"id":"6a3856b0.fb00a8","type":"debug","z":"fa443f73.7a97e","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2610,"y":4020,"wires":[]},{"id":"1c097e79.96e5d2","type":"debug","z":"fa443f73.7a97e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2810,"y":4180,"wires":[]},{"id":"4ade2e6.35347d","type":"debug","z":"fa443f73.7a97e","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2790,"y":4100,"wires":[]},{"id":"c30919b7.9809d8","type":"predictor","z":"fa443f73.7a97e","name":"decision tree classifier predictor3","modelPath":"/Users/HP/datalog/Dataset","modelName":"3dtc.b","x":2600,"y":4360,"wires":[["9626e2d4.66b"],["e6dfae87.885d7"]]},{"id":"3cd1eff7.ae1c9","type":"decision tree classifier","z":"fa443f73.7a97e","name":"decision tree classifier trainer3","savePath":"/Users/HP/datalog/Dataset","saveName":"3dtc.b","maxDepth":"","criterion":"gini","splitter":"best","x":2570,"y":4100,"wires":[["4ade2e6.35347d"],["1c097e79.96e5d2"]]},{"id":"9626e2d4.66b","type":"assessment","z":"fa443f73.7a97e","name":"","score":"accuracy_score","x":2630,"y":4300,"wires":[["c0dc7c89.e10c2"],["e6dfae87.885d7"]]},{"id":"c7bb06da.d10238","type":"load dataset","z":"fa443f73.7a97e","name":"","datasetFolder":"/Users/HP/datalog/Dataset","datasetName":"dataset3","partition":"test.csv","input":false,"output":true,"x":2330,"y":4300,"wires":[["9626e2d4.66b"],["e6dfae87.885d7"]]},{"id":"62d36467.3a7dbc","type":"load dataset","z":"fa443f73.7a97e","name":"","datasetFolder":"/Users/HP/datalog/Dataset","datasetName":"dataset3","partition":"test.csv","input":true,"output":false,"x":2330,"y":4420,"wires":[["c30919b7.9809d8"],["e6dfae87.885d7"]]},{"id":"e6dfae87.885d7","type":"debug","z":"fa443f73.7a97e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2830,"y":4420,"wires":[]},{"id":"c0dc7c89.e10c2","type":"debug","z":"fa443f73.7a97e","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2830,"y":4300,"wires":[]},{"id":"f20ceba8.2c4838","type":"mqtt in","z":"fa443f73.7a97e","name":"","topic":"classification","qos":"2","datatype":"auto","broker":"cb216faf.d9136","x":2750,"y":4240,"wires":[[]]},{"id":"84c5bea7.3401a","type":"predictor","z":"fa443f73.7a97e","name":"decision tree classifier predictor2","modelPath":"/Users/HP/datalog/Dataset","modelName":"2dtc.b","x":2140,"y":4640,"wires":[["4bca6d66.33ca44","4eed6733.95b998"],["1a7845ab.d56baa"]]},{"id":"4bca6d66.33ca44","type":"mqtt out","z":"fa443f73.7a97e","name":"","topic":"predictions","qos":"","retain":"","broker":"cb216faf.d9136","x":2360,"y":4900,"wires":[]},{"id":"1a7845ab.d56baa","type":"debug","z":"fa443f73.7a97e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2340,"y":4980,"wires":[]},{"id":"948c20b9.88e02","type":"predictor","z":"fa443f73.7a97e","name":"decision tree classifier predictor3","modelPath":"/Users/HP/datalog/Dataset","modelName":"3dtc.b","x":2220,"y":3500,"wires":[["b8a609fc.e8d428","f3d6982c.1b5d98"],["43116adf.3399d4"]]},{"id":"b8a609fc.e8d428","type":"mqtt out","z":"fa443f73.7a97e","name":"","topic":"predictions","qos":"","retain":"","broker":"cb216faf.d9136","x":2440,"y":3760,"wires":[]},{"id":"43116adf.3399d4","type":"debug","z":"fa443f73.7a97e","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2420,"y":3840,"wires":[]},{"id":"4b6e895d.f2c068","type":"debug","z":"fa443f73.7a97e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":2500,"wires":[]},{"id":"1bf1f3a7.65dbcc","type":"ui_group","name":"Particulate Matter","tab":"9b7b798d.cb1ed8","order":1,"disp":true,"width":"16","collapse":false},{"id":"c4092586.97a398","type":"postgresdb","cfgname":"Db for ML","hostname":"localhost","port":"5432","db":"postgres","ssl":false},{"id":"160e81fb.f1c86e","type":"ui_group","name":"File Browser","tab":"b63d1f91.68095","order":1,"disp":true,"width":"18","collapse":false},{"id":"cb216faf.d9136","type":"mqtt-broker","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1c1cdbc9.f5f9fc","type":"ui_group","name":"Air Quality Index","tab":"d09bf55a.e39bf8","order":1,"disp":true,"width":"6","collapse":false},{"id":"265aaa8b.b08b26","type":"ui_group","name":"Particulate Matter","tab":"d09bf55a.e39bf8","order":5,"disp":true,"width":"6","collapse":false},{"id":"2c838f41.dec1c","type":"ui_group","name":"PM1","tab":"38e4ba33.913ab6","order":2,"disp":true,"width":"6","collapse":false},{"id":"4fb266af.44d8f8","type":"ui_group","name":"PM25","tab":"38e4ba33.913ab6","order":3,"disp":true,"width":"6","collapse":false},{"id":"6a3c8be2.ffba84","type":"ui_group","name":"Charts","tab":"17fd5ba5.69ca94","order":2,"disp":true,"width":"6","collapse":false},{"id":"2673fe7b.9b21da","type":"ui_group","name":"Temperature Data","tab":"38e4ba33.913ab6","order":8,"disp":true,"width":"6","collapse":false},{"id":"667482dc.2d9db4","type":"ui_group","name":"Humidity Data","tab":"38e4ba33.913ab6","order":9,"disp":true,"width":"6","collapse":false},{"id":"6519f81b.91e8d8","type":"ui_group","name":"Pressure","tab":"38e4ba33.913ab6","order":6,"disp":true,"width":"6","collapse":false},{"id":"68e37821.20df88","type":"ui_group","name":"PM25","tab":"d09bf55a.e39bf8","order":4,"disp":true,"width":"6","collapse":false},{"id":"af81517a.f5bb","type":"ui_group","name":"PM1","tab":"d09bf55a.e39bf8","order":3,"disp":true,"width":"6","collapse":false},{"id":"34896cbb.8e9f54","type":"ui_group","name":"PM10","tab":"d09bf55a.e39bf8","order":2,"disp":true,"width":"6","collapse":false},{"id":"a1b0e25b.130ed","type":"mqtt-broker","name":"MQTT broker","broker":"192.168.1.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8064dbee.6bd568","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bc7be24f.8a602","type":"ui_group","name":"Graphical Representation","tab":"38e4ba33.913ab6","order":5,"disp":true,"width":"6","collapse":false},{"id":"9b7b798d.cb1ed8","type":"ui_tab","name":"Statistics","icon":"dashboard","disabled":false,"hidden":false},{"id":"b63d1f91.68095","type":"ui_tab","name":"Files","icon":"dashboard","disabled":false,"hidden":false},{"id":"d09bf55a.e39bf8","type":"ui_tab","name":"Air quality","icon":"dashboard","disabled":false,"hidden":false},{"id":"38e4ba33.913ab6","type":"ui_tab","name":"Weather","icon":"dashboard","disabled":false,"hidden":false},{"id":"17fd5ba5.69ca94","type":"ui_tab","name":"Weather","icon":"dashboard","disabled":false,"hidden":false}]